<h2>TOP5 most hated posts in your country(Latvia):</h2>
<table class="table">
    <thead>
        <th>#</th>
        <th>Member</th>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Some Member</td>
        </tr>
    </tbody>
</table>