<h3>Main haters to follow in your country ({{app.user.getCountry()}}):</h3>
{% if userTop %}
    <table class="table">
        <thead>
            <th>#</th>
            <th>Posts</th>
        </thead>
        <tbody>
            {% for user in userTop %}
                <tr class="{{ cycle(['even', 'odd'], loop.index) }}">
                    <td>{{ loop.index }}</td>
                    <td>efwefwf</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="line-2"></div>
    <h4>No haters from your Country!</h4>
{% endif %}