{% extends "ihateClientBundle::layoutLoggedIn.html.twig" %}

{% block content %}
    <div class="well">
        {{ include('ihateClientBundle:Content:postTop.html.twig', { "post": post }) }}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="postText">
                    {{ post.text }}
                </p>
                <button type="button" class="btn btn-danger btn-lg">
                    <span class="glyphicon glyphicon-fire"></span> ihate
                </button>
            </div>
        </div>
    </div>
        <div class="comment">
           <h3>Comments(*)</h3>
            {{ form(form) }}
        </div>
{% endblock content %}