<div class="logFroms">
    <form action="{{ path('login_check') }}" method="post" class="form-signin well" role="form">
        {% if error is defined and error %}
            <div>{{ error.message }}</div>
        {% endif %}
            <input type="text" id="username"  class="form-control" name="_username" value="{{ last_username }}" placeholder="Enter your email" />
            <input type="password"  class="form-control" id="password" name="_password" placeholder="Enter your password"/>
            <button type="submit" class="btn btn-lg btn-primary btn-block">login</button>
            <div class="regLink">
                <a href="{{ path('registration') }}" role="button">New to iHate? Sign Up</a>
            </div>
    </form>
</div>