{% extends "ihateClientBundle::layoutLoggedIn.html.twig" %}

{% block sideMenu %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="#">Profile</a></li>
                <li><a href="#">MyOwnHates</a></li>
                <li><a href="#">HateMates</a></li>
                <li><a href="#">HateGroups</a></li>
            </ul>
        </div>
{% endblock sideMenu %}

{% block postsArea %}
{% endblock postsArea %}