{% extends "ihateClientBundle::layoutLoggedIn.html.twig" %}

{% block content %}
    {% if posts %}
        {% for post in posts %}
            {% include "ihateClientBundle:Content:postContent.html.twig" %}
        {% endfor %}
    {% else %}
        <div class="well">
            <p class="text">Your timeline is currently empty.
                Follow people and create new topics to share your hates with them!.
            </p>
        </div>

    {% endif %}
{% endblock content %}