{% extends "ihateClientBundle::layoutLoggedIn.html.twig" %}

{% block content %}
            <div class="well">
                {% for post in posts %}
                    <div class="post">
                        {% if post.path %}
                            <div class="imageContainer">
                            <img src="/uploads/avatar/{{ post.path }}"/>
                            </div>
                        {% endif %}
                        {% if post.embed %}
                            FTw EMBED!!??
                        {% endif %}
                        <h1>{{ post.text }}</h1>
                    </div>
                {% endfor %}
            </div>
{% endblock content %}