{% extends "ihateClientBundle::layoutLoggedIn.html.twig" %}

{% block content %}
<div class="row">
    {{ include('ihateClientBundle:PageStructure:sideMenuIn.html.twig') }}
    <div class="col-sm-7 col-md-7">
        <div class="main-content">
            <h1>PLACE FOR POSTS</h1>
        </div>
    </div>
</div>
{% endblock content %}