{% extends "ihateClientBundle::layoutLoggedOut.html.twig" %}
{% block content %}
    <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-5" style="padding-top: 50px;">
        <div class="well">
            <h2>iHate Content Policy</h2>
            <p class="termsText">
                iHate is a free service for communication, self-expression and freedom of speech.
                We believe that iHate increases the availability of information, encourages healthy
                debate and makes possible new connections between people.
                We respect our users' ownership of and responsibility for the content they
                choose to share. It is our belief that censoring this content is contrary
                to a service that bases itself on freedom of expression.
                <br>
                <br>
            </p>
            <p class="termsText">
                In order to uphold these values, we need to curb abuses that threaten our
                ability to provide this service and the freedom of expression it encourages.
                As a result, there are some boundaries on the type of content that can be hosted with iHate.
                The boundaries we have defined are those that both comply with legal requirements and that serve to enhance the service as a whole.
                In order to uphold these values, we need to curb abuses that threaten our
                ability to provide this service and the freedom of expression it encourages.
                As a result, there are some boundaries on the type of content that can be hosted with iHate.
                The boundaries we have defined are those that both comply with legal requirements and that serve to enhance the service as a whole.
            </p>

            <h2>Content Boundaries</h2>
            <p class="termsText">
                Our content policies play an important role in maintaining a positive experience for you, the users.
                Please respect these guidelines. From time to time, we may change our content policies, so please
                check back here. Also, please note that when applying the policies below, we may make exceptions
                based on artistic, educational, documentary or scientific considerations, or where there are other
                substantial benefits to the public from not taking action on the content.
            </p>
            <p class="termsText">There are some exceptions to our adult content policy:</p>
            <ul>
                <li>Do not use Blogger as a way to make money on adult content.
                    For example, don't create blogs that contain ads or links to commercial porn sites.
                </li>

                <li>We do not allow non-consensual or illegal sexual content, including images,
                    videos or textual content that depicts or encourages rape, incest, bestiality or necrophilia.
                </li>
            </ul>
            <p><b>Child Safety:</b> We have a zero-tolerance policy towards content that exploits children. Some examples of this include:</p>
            <ul>
                <li><b>Child sexual abuse imagery:</b> We will terminate the accounts of any user found publishing or distributing child sexual abuse imagery.
                    We will also report that user to the police.
                </li>
                <li><b>Paedophilia:</b> We do not allow content that encourages or promotes sexual attraction towards children. For example, do not create blogs
                    with galleries of images of children, where the collection of images or text accompanying the images is sexually suggestive.
                </li>
            </ul>

        </div>
    </div>
{% endblock %}