.content{
    padding-top: 60px;
}
.text{
    font-family: 'Righteous', cursive;
}
.searchText{
    font-family: 'Roboto Slab', serif;
}
.postText{
    text-indent:35px;
    font-size: 12pt;
    font-family: 'Helvetica Neue light', serif;
}
.blockquote-reverse,
blockquote.pull-right {
    padding-right: 15px;
    padding-left: 0;
    text-align: right;
    border-right: 5px solid rgba(25,110,255,.5);
    border-left: 0;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 800px;
}
.logFroms{
    padding-top: 200px;
}
.regForms{
    padding-left: 50px;
    padding-right: 50px;
}
.sideMenu{
    width:150px;
}

.navbar-inverse .navbar-brand{
    color: gold;
}
.main-content{
    width: auto;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.thumbnail{
    margin-left: 15px;
    margin-right: 15px;
}
.imageContainer{
    max-width: 700px;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}
.imageContainer img{
    width: 100%;
    height: auto;
}
.ownerImage{
    width:70px;
    height:auto;
}
.regLink{
    padding-left: 75px;
}
body{
    background: url('../images/k1.png') repeat;
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.line-1 {
    width:100%;
    border-top: 1px solid #D0D0D0;
    border-bottom: 1px solid #fff;
    height: 0px;
}
.line-2 {
    margin-top: 15px;
    width:100%;
    border-top: 1px solid #D0D0D0;
    border-bottom: 1px solid #fff;
    height: 0px;
}
.comment{
    margin-top: -22px;
    background: url('../images/k3.jpg') repeat;
    padding-top:10px;
    padding-left:10px;
    padding-bottom: 10px;
}
.postBottom{
    margin-top: -25px;
    background: url('../images/k3.jpg') repeat;
    padding-left:10px;
    padding-bottom: 6px;
    padding-top: 6px;
    border-top: 1px solid #333;
}

.link{
    color: #ffff00;
}
.postTop{
    padding-top: 10px;
    border-top: 1px solid #555;
    margin-bottom: -20px;
}

