.content
{

    padding-top: 60px;
}
.blockquote-reverse,
blockquote.pull-right {
    padding-right: 15px;
    padding-left: 0;
    text-align: right;
    border-right: 5px solid rgba(25,110,255,.5);
    border-left: 0;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 800px;
}
.logFroms
{
    padding-top: 200px;
}
.regForms
{
    padding-left: 50px;
    padding-right: 50px;
}
.sideMenu
{
    width:150px;
}