.content{
    padding-top: 60px;
}
.sideli{
    font-size: 17px;
}
.text{
    font-family: 'Righteous', cursive;
}
.searchText{
    font-family: 'Roboto Slab', serif;
}
.postText{
    text-indent:35px;
    font-size: 12pt;
    font-family: 'Helvetica Neue light', serif;
}
.blockquote-reverse,
blockquote.pull-right {
    padding-right: 15px;
    padding-left: 0;
    text-align: right;
    border-right: 5px solid rgba(25,110,255,.5);
    border-left: 0;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 800px;
}
.logFroms{
    padding-top: 200px;
}
.regForms{
    max-width: 500px;
    padding-left: 50px;

}
.sideMenu{
    width:150px;
}

.navbar-inverse .navbar-brand{
    color: gold;
}
.main-content{
    width: auto;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.thumbnail{
    margin-left: 15px;
    margin-right: 15px;
}
.imageContainer{
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}
.imageContainer iframe{
    width: 100%;
    height: 40%;
}
.imageContainer img{
    width: 100%;
    height: auto;
}
.ownerImage{
    width:70px !important;
    height:auto !important;
}
.regLink{
    padding-left: 75px;
}
body{
    /*background: url('../images/k1.png') repeat;*/
    /*background: url('../images/kov.jpg') repeat;*/
}
.countryTop{

}

.line-1 {
    width:100%;
    border-top: 1px solid #D0D0D0;
    border-bottom: 1px solid #fff;
    height: 0px;
}
.line-2 {
    margin-top: 15px;
    width:100%;
    border-top: 1px solid #D0D0D0;
    border-bottom: 1px solid #38393B;
    height: 0px;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-radius: 6px 6px 0px 0px;
}
.form-signin input[type="password"] {
    z-index: 2;
    margin-bottom: 20px;
    border-top: none;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-radius: 0px 0px 6px 6px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.commentCreate{
    margin-top: -22px;
    padding-top:10px;
    padding-left:30px;
    padding-bottom: 20px;
    padding-right:50px;
}
.commentShow{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #e3e3e3;
    border: 1px solid #e3e3e3;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.comment{
    background-color: #CCB746;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.commentContent{
    max-width: 700px;
}
.postBottom{
    margin-top: -25px;
    background: url('../images/k3.jpg') repeat;
    padding-left:10px;
    padding-bottom: 6px;
    padding-top: 6px;
    border-top: 1px solid rgba(11, 11, 12, 0);
}
.well {
    margin-top: 20px;
}
.sidebar{
    background-color: #CCBD50;
}
.link{
    color: #ffff00;
}
.postTop{
    padding-top: 10px;
    border-top: 1px solid #555;
    margin-bottom: -20px;
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th{
    background-color: rgba(107,180,232,.5);
}

