body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: rgba(140, 146, 133, 0.51);;
}
.jumbotron{

}
body > .container {
    padding-top: 160px;
}
.regform{
    width: 450px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
}
.contentF{
    position: fixed;
    top: 30%;
    left: 50%;
    margin-top: -100px;
    margin-left: -225px;
}