<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>iHate</title>
        {% stylesheets
        '@ihateClientBundle/Resources/public/css/bootstrap.css'
        '@ihateClientBundle/Resources/public/css/custom.css'
        '@ihateClientBundle/Resources/public/css/dashboard.css'
        '@ihateClientBundle/Resources/public/css/fancyline.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Balthazar' rel='stylesheet' type='text/css'>
        {% endstylesheets %}
    </head>
    <body>

        {{ include('ihateClientBundle:PageStructure:navbarIn.html.twig') }}
        <div class="content">
             <div class="container-fluid">
                 <div class="row">
                         <div class="col-xs-12 col-sm-4 col-md-offset-2 col-md-2 col-lg-offset-2 col-lg-2">
                             {{ include('ihateClientBundle:PageStructure:sideMenuIn.html.twig') }}
                         </div>
                         <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
                            {% block content %}
                            {% endblock %}
                         </div>
                </div>
             </div>
        </div>

        {% javascripts
        '@ihateClientBundle/Resources/public/js/jquery.js'
        '@ihateClientBundle/Resources/public/js/bootstrap.js'
        '@ihateClientBundle/Resources/public/js/holder.js'
        '@ihateClientBundle/Resources/public/js/hyphenate.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <div id="footer">
            <div class="container">
                <p class="text-muted">OLOLO some footer text!</p>
            </div>
        </div>
    </body>
</html>
