<!DOCTYPE html>
<html>
    <head>
         <meta charset="UTF-8" />
        <title>iHate</title>
        {% stylesheets
        '@ihateClientBundle/Resources/public/css/bootstrap.css'
        '@ihateClientBundle/Resources/public/css/signin.css'
        '@ihateClientBundle/Resources/public/css/custom.css'
        '@ihateClientBundle/Resources/public/css/login.css'
        %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
     {{ include('ihateClientBundle:PageStructure:navbarOut.html.twig') }}
        {% block content %}
        {% endblock %}

        {% javascripts
        '@ihateClientBundle/Resources/public/js/jquery.js'
        '@ihateClientBundle/Resources/public/js/bootstrap.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

    </body>
</html>
